@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scroll-behavior: smooth;
}
@media (max-width: 1024px) {
  .custom-carousel-item {
    display: flex;
    justify-content: center;
  
  }
}

body{
  background-color: rgb(19, 19, 19);
  color: white;
  overflow-x: hidden;
  transition: ease all 0.5s;
  font-family: "Jost" , "sans-serif";

}
.react-multiple-carousel__arrow {
  background-color:rgba(44, 44, 44, 0.436) ;
}
